.Header {
  color: var(--very-dark-grayish-blue);
  background: var(--light-grayish-blue);
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 20rem;
}

.HeaderDropdown {
  position: relative;
  display: inline-block;
}

.HeaderDropdownButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--very-dark-grayish-blue);
  border: none;
  font-weight: bold;
  color: var(--white);
  width: 7rem;
  height: 2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.5s ease;
}

.HeaderDropdownButton:hover {
  opacity: 0.8;
}

.HeaderDropdownButtonIcon {
  margin-right: 0.2rem;
}

.HeaderDropdownContent {
  display: flex;
  position: absolute;
  background-color: var(--white);
  min-width: 10rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  padding: 0.75rem 1rem;
  z-index: 1;
}

.HeaderDropdownContentActive {
  display: flex;
}

.HeaderDropdownContentList {
  list-style: none;
}

.HeaderDropdownContentListItem {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  color: var(--very-dark-grayish-blue);
}

.HeaderDropdownContentListItem:hover {
  text-decoration: underline;
}

.HeaderDropdownContentListItemSelectedIcon {
  margin-left: 0.4rem;
}

@media (max-width: 900px) {
  .Header {
    padding: 2rem 0;
    min-height: 9rem;
    flex-direction: column;
  }
}
