.Container {
  min-height: 100vh;
  width: 100%;
  background: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Conainer__Loading {
  height: calc(100vh - 7rem); /* - footer height */
  width: 100%;
  background: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.PostWrapper + .PostWrapper {
  margin-top: 1.5rem;
}
