.Card {
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
  background-color: var(--card-bg);
  height: 515px;
  width: 325px;
  border-radius: 10px;
}

.CardThumb {
  width: 100%;
  height: 25%;
  height: 12.5rem;
  overflow: hidden;
}

.CardThumbImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.CardContent {
  padding: 35px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CardContentTitle {
  font-size: 1rem;
  color: var(--very-dark-grayish-blue);
}

.CardContentDescription {
  color: var(--desaturated-dark-blue);
  margin: 15px 0 17px 0;
  font-size: 0.81rem;
  line-height: 20px;
}

.CardContentFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.CardContentFooterProfile {
  display: flex;
}

.CardContentFooterProfileImage {
  object-fit: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.CardContentFooterProfileUser {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.CardContentFooterProfileUserName {
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
}

.CardContentFooterProfilePostDate {
  color: var(--grayish-blue);
  font-size: 0.8rem;
}

.CardContentFooterShareBtn {
  color: var(--desaturated-dark-blue);
  border-radius: 50%;
  background-color: var(--light-grayish-blue);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s ease;
}

.CardContentFooterShareBtn:hover {
  transform: scale(1.08);
}

.CardContentFooterShareBtnActive {
  background-color: var(--desaturated-dark-blue);
  color: var(--card-bg);
  position: relative;
  z-index: 1;
  margin-top: 1rem;
}

.CardContentFooterShareOptions {
  background-color: var(--very-dark-grayish-blue);
  position: absolute;
  display: flex;
  align-items: center;
  height: 70px;
  width: 325px;
  left: -35px;
  top: 0;
  padding-left: 35px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.CardContentFooterShareOptionsTitle {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--grayish-blue);
}

.CardContentFooterShareOptionsLink {
  color: var(--card-bg);
  transition: 0.5s ease;
  font-size: 1.3rem;
  margin-left: 15px;
  text-decoration: none;
}

.FacebookHoverColor:hover {
  color: var(--facebook-color);
}

.TwitterHoverColor:hover {
  color: var(--twitter-color);
}

.PinterestHoverColor:hover {
  color: var(--pinterest-color);
}

@media (min-width: 900px) {
  .Card {
    width: 730px;
    height: 280px;
    display: flex;
  }

  .CardThumb {
    width: 30%;
    height: 100%;
  }

  .CardContent {
    height: 100%;
    width: 70%;
  }

  .CardContentTitle {
    font-size: 1.3rem;
  }

  .CardContentFooterShareOptions {
    width: 245px;
    border-radius: 10px;
    height: 60px;
    top: -80px;
    left: calc(100% - 245px / 2 - 20px);
  }

  .CardContentFooterShareOptions::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -12px;
    left: calc(50% - 10px);
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 12px solid var(--very-dark-grayish-blue);
  }

  .CardContentFooterShareBtnActive {
    background-color: var(--desaturated-dark-blue);
    color: var(--card-bg);
    position: relative;
    z-index: 1;
    margin-top: 0;
  }
}

/* By https://webaim.org/techniques/css/invisiblecontent/ */
.Sronly {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
