.Footer {
  padding: 3rem 0;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-grayish-blue);
}

.FooterLink {
  color: var(--very-dark-grayish-blue);
  text-decoration: none;
}

.FooterLink:hover {
  text-decoration: underline;
}
