@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

html {
  font-size: 16px;
}

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --card-bg: hsl(0, 0%, 100%);
  --white: hsl(0, 0%, 100%);
  --twitter-color: hsl(203, 89%, 53%);
  --facebook-color: hsl(220, 46%, 48%);
  --pinterest-color: hsl(351, 100%, 45%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  font-family: "Manrope", "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
